.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}

.BodyMain {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.Right {
  padding: 20px;
  width: 50%;
  margin-right: 20px;
}

.Left {
  padding: 20px;
  width: 50%;
  margin-left: 20px;
}

.vertical-row {
  Float:left;
  width:1px;
  background-color: #AAAAAA
}

.button {
  background-color: #05FF00;
  border: none;
  color: white;
  padding: 15px 86px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 1px 3px lightgray;
}

.boxBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid; 
  border-color: #AAAAAA; 
  border-width: 2px;
  width: 425px;
  box-shadow: 1px 3px lightgray;
}

.buttonSmall {
  background-color: #05FF00;
  width: 100%;
  height: 60%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
}

.buttonBig {
  background-color: #05FF00;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
}